<div class="jumbotron" style="margin-top: 150px; width:100%" ng-controller="myShiftsCtrl">
    <h1 style="margin-left:280px; font-family: 'Kalam', cursive; font-weight: bold;">My Shifts</h1>

    <div class="agenda" style="margin-top:50px" data-ng-init="showAllAddedShifts()">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered" style="border-collapse: collapse;  border: 1px solid black; width: 90%; margin-left: 40px">
                <thead>
                    <tr style=" border: 1px solid black;">
                        <th style=" border: 1px solid black; text-align: center; vertical-align: middle; font-size: 25px">Date</th>
                        <th style=" border: 1px solid black; text-align: center; vertical-align: middle; font-size: 25px">Time</th>
                        <th style=" border: 1px solid black; text-align: center; vertical-align: middle; font-size: 25px">Event</th>
                        <th style=" border: 1px solid black; text-align: center; vertical-align: middle; font-size: 25px"></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Single event in a single day -->
                    <tr ng-repeat="shift in shifts">
                        <td style=" border: 1px solid black; text-align: center; vertical-align: middle;font-size: 18px">{{shift.ShiftDate}}</td>                       
                        <td style=" border: 1px solid black; text-align: center; vertical-align: middle;font-size: 18px">{{shift.FirstShift}} <br /> {{shift.SecondShift}} <br /> {{shift.ThirdShift}}</td>
                        <td style=" border: 1px solid black; text-align: center; vertical-align: middle;font-size: 18px">{{shift.Location}}</td>  
                        <td style=" border: 1px solid black; text-align: center; vertical-align: middle; cursor: pointer" ng-click="submitDeleteShift(shift)"><i class="fa fa-trash-alt fa-2x" uib-tooltip="Delete Shift" ></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>-->
    <!--<p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>